@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  /* Use "swap" to ensure text remains visible during font load */
  src: local('Cinzel'), url('https://fonts.gstatic.com/s/cinzeldecorative/v14/daaHSScvJGqLYhG8nNt8KPPswUAPniZQa9lESTE.woff2') format('woff2'),
    url('/https://fonts.gstatic.com/s/cinzeldecorative/v14/daaHSScvJGqLYhG8nNt8KPPswUAPniZQa9lESTc.woff') format('woff');
}

.loggo {
  width: 40px!important;
}

.random-images-container {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.random-image {
  position: absolute;
  width: 30vw;
  height: 15vh;
  background-size: cover;
  z-index: -10;
}

.fixed-image {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 0%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.fixed-image1 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 0%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image2 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image3 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 20%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image4 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image5 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image6 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image7 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image8 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fixed-image9 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.fixed-image10 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.fixed-image11 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.fixed-image12 {
  position: fixed;
  width: 15vw;
  height: 7.5vh;
  background-size: cover;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}


.map-direction-container {
  width: 300px !important;
}

.map-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1vh;
  right: 10vw;
  font-size: small;
  border-radius: 80px;
  background-color: rgb(255, 255, 255);
  width: 320px;
  height: 30px;

}







.img_team {
  border-radius: 0 0 20px 0;
}


.servicesLogo {
  position: relative;
  background-color: white;
  background-image: url('../public/logoAbour.svg');
  background-repeat: no-repeat;
  background-position: right 0% top 60%;
  background-size: 90% 50%;
}

.galleryContainer {
  position: relative;
  background-color: white;
  background-image: url('../public/logoAbour.svg');
  background-repeat: no-repeat;
  background-position: right 50% top 50%;
  background-size: 60% 40%;
}

.galleryPhoto {
  width: 200px !important;
  height: 200px !important;
}


/* hovers */
/* navbar */
.hover_header:hover {
  color: #1081A9;
}

.hover_header::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #60DBC5;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover_header:hover::after {
  transform: scaleX(1);
}

/* logo  */

.logo {
  width: 200px !important;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.logo:hover {
  transform: rotate(360deg);
  animation: zoom-in-zoom-out-logo 3s ease infinite;
}

/* Button Carusel 1 */
.button_hover:hover {
  background-color: #60DBC5;
  border-color: #16bb9a;
}

.hover_contat:hover {
  background-color: white;
  color: #065BE7;
  border: 2px solid #065BE7;
}

.hover_contat2:hover {
  background-color: #60DBC5;
  color: white;
}

/* List services     */
.hover-item:hover {
  background-color: #1081A9;
  color: white;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

/* carrusel */


.animation-contact:hover {
  animation: zoom-in-zoom-out-carrusel 3s ease;
}


.chosse {
  background-color: white;
  position: relative;
}

.testimonial {
  /* position: absolute; */
  background-color: white;
  position: relative;

}

.abus {
  background-color: white;
  position: relative;
}

.footer {
  position: relative;
  width: 100vw;
  background-color: #1081A9;
  color: white;
}

.hover_footer::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #60DBC5;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover_footer:hover::after {
  transform: scaleX(1);
}



.carrusel {
  background-color: white;
}

.animationIcon {
  animation: spin-pause 14s linear infinite;
}

.galletItem {
  border: 2px solid #1081A9;
}

.galletItem:hover {
  border: 2px solid #60DBC5;
  /* animation: zoom-in-zoom-out-carrusel 2s ease; */
}

.zoom:hover {
  border: 2px solid #1081A9;
  animation: zoom-in-zoom-out-carrusel 2s ease;
}

/* animation  */
.iframeLogo {
  width: 10rem !important;
  height: 4rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}
.logoBuisisne{
  /* border: 1px solid; */
  width: 10rem !important;
  height: 10rem !important;
  bottom: 10;
}

.popup {
  border: 0;
  width: 30rem;
  position: fixed;
  z-index: 10;
  bottom: 2.5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ffffff;
  background-color: #5cdac3;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
  cursor: pointer;
}

.popup.show {
  opacity: 1;
  transform: translateY(0);
}
@keyframes zoom-in-zoom-out-logo {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out-carrusel {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-pause {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  55%,
  100% {
    animation-timing-function: steps(1, end);
  }
}





.react-multiple-carousel__arrow,
.react-multiple-carousel__arrow--left {
  z-index: 1 !important;
}


/* movil mediaquerry */

@media screen and (max-width: 768px) {
  .servicesLogo {
    position: relative;
    background-color: white;
    background-image: url('../public/logoAbour.svg');
    background-repeat: no-repeat;
    background-position: right 50% top 8%;
    background-size: 70% 35%;
  }

  .map-direction {
    right: 50%;
  }

  .textBig {
    width: 60vw;
  }

  .galleryContainer {
    width: 100vw;
  }
}


.lcOxyP {
  background-color: transparent !important;
}

.templereglasss{
  width: 100% !important;
}